.header{
    margin-top: 30px;
    margin-bottom: -150px;
    position: sticky;
    z-index: 1000;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.header__right{
    text-decoration: none;
    position: relative;
    cursor: pointer;
    &:hover{
        .header__number{
            border: 2px solid $yellow;
        }
    }
}
.logo{
    position: relative;
    width: 94px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 35px;
    &::before{
        display: block;
        width: 68px;
        height: 68px;
        background-color: black;
        content: "";
        position: absolute;
        top: 11px;
        left: 12px;
        z-index: -1;

    }
}
.header__desc{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 240px;
    @include PTSerif();
    color: white;
    &::before{
        display: block;
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: white;
        top: 3px;
        left: -13px;
    }
}
.logo__image{
    max-width: 100%;
}
.header__phone{
    vertical-align: middle;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: $yellow;
    content: "";
    padding: 8px;
}
.header__number{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    @include PTSerif();
    font-size: 24px;
    color: white;
    background-color: rgba(38,38,38, .7);
    padding: 1px 14px;
    border: 2px solid transparent;
    transition: border .3s;
}
.menu{
    width: 400px;
}
.menu__list{
    max-height: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.menu__item{
    display: inline-block;
    margin-right: 50px;
    &:nth-last-child(-n+3){
        margin-right: 0;
    }
}
.menu__link{
    text-decoration: none;
    font-size: 16px;
    color: white;
    transition: color .2s;
    &:hover{
        color: $yellow;
        text-decoration: underline;
    }
}
.header__fixed{
    position: fixed;
    top: -200px;
    left: 0;
    right: 0;
    background-color: $black;
    padding: 10px 0;
    transition: top .3s;
    .logo{
        width: 57px;
        &::before{
            width: 36px;
            height: 36px;
        }
    }
    &.active{
        top: 0;
    }
}
.header__fixed .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.header__right{
   .wpcf7-form,.header__form{
       position: fixed;
       margin-top: 20px;
       right: 70px;
       width: 400px !important;
       cursor: default;
       display: none;
       min-height: inherit;
       padding: 35px;
       padding-top: 15px;
       padding-bottom: 10px;
        .form__title{
           font-size: 32px;
        }
        .form__desc{
           font-size: 16px;
           margin-bottom: 30px;
        }
        .form__input{
           margin-bottom: 20px;
        }
    }
}
div.wpcf7-response-output{
    margin: 0 !important;
    border: 2px solid $yellow !important;
}
.form__close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}