.service .container{
    position: relative;
}
.service__list{
    max-width: 760px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.service__item{
    position: relative;
    width: 350px;
    margin-right: 60px;
    margin-bottom: 35px;
    &:nth-child(even){
        margin-right: 0;
    }
}
.service__icon{
    position: absolute;
    right: 100%;
    top: 5px;
    margin-right: 10px;
    width: 32px;
}
.service__ico{
    width: 100%;
}
.service__title{
    margin-bottom: 15px;
    font-size: 18px;
}
.service__desc{
    font-size: 16px;
}
.service__image{
    position: absolute;
    top: -250px;
    right: 0;
    z-index: 200;
}
