.style {
    position: relative;
    .container{
        @extend %clearfix;
    }
}

.style__triangle-up {
    background-color: $black;
    height: 70px;
    -webkit-clip-path: polygon(80% 10%, 0% 100%, 100% 100%);
    clip-path: polygon(80% 10%, 0% 100%, 100% 100%);
    margin-bottom: -1px;
}

.style__content {
    padding-top: 30px;
    background-color: $black;
}

.style__title {
    float: left;
    color: white;
    font-size: 36px;
    text-transform: uppercase;
    max-width: 500px;
    line-height: 1.4;
    margin-left: 20px;
}

.style__desc {
    float: right;
    color: white;
    max-width: 450px;
    margin-right: 50px;
    margin-bottom: 50px;
    text-align: right;
    font-size: 16px;
    line-height: 1.5;
}

.style__icon-search {
    position: absolute;
    top: 100px;
    left: 200px;
    z-index: 3;
}

.style__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    justify-items: center;
}

.style__imgblock {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.style__img {

    max-width: 100%;
    min-height: 100%;
}

.style__imgtitle {
    position: absolute;
    color: white;
    bottom: 10px;
    left: 0;
    font-size: 32px;
    padding: 20px 20px;
    z-index: 3;
    pointer-events: none;
}

.style__separate {
    background-color: $yellow;
    height: 30px;
}

.style__figcaption {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    z-index: 2;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgba($yellow, 0.8);
    backface-visibility: hidden;
    transition: transform 0.8s, opacity 0.8s;
    text-align: center;
}

.style__imgdesc {
    display: block;
    margin: 80px 20px 20px 20px;
    text-align: justify;
}

.style__order_btn {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    @include Roboto(bold);
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 0px;
    background: $black;
    font-size: 16px;
    color: white;
}

.style__imgblock:hover .style__figcaption {
    opacity: 1;
}

.style__imgblock:hover .style__icon-search {
    opacity: 0;
}

.style__imgblock:hover .style__imgtitle {
    top: 10px;
}
