// vars
$footer_height:708px;
$container_width:1170px;
$body_font-size:16px;
$body_line-height:1.42;
$yellow: #ffc000;
$lightgrey: #C2C2C2;
$grey: #494949;
$black: #262626;

// layout
@import "_misc/fonts";
@import "_misc/mixins";
@import "_misc/normalize";
@import "_misc/adjustment";

// styles
@import "sections/header";
@import "sections/slider";
@import "sections/service";
@import "sections/style";
@import "sections/project";
@import "sections/repair";
@import "sections/recommendation";
@import "sections/about";
@import "sections/price";
@import "sections/consult";
@import "sections/client";
@import "sections/catalogue";
@import "sections/footer";
