html, body{
    width: 100%;
    height: 100%;
}

body{
    font-size: $body_font-size;
    line-height: $body_line-height;
    -webkit-font-smoothing: antialiased;
}

.clearfix{
    content: "";
    clear: both;
    display: table;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    position: relative;
    min-width: $container_width+110;
}

.wrapper::after{
    content:"";
    display: block;
    height: $footer_height;
    overflow: hidden;
}

.container{
    width: $container_width;
    margin: 0 auto;
}

.darkened {
  position: relative;
}
 
.darkened::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);  
  z-index: 1;
}

* {
    box-sizing: border-box;
}

li{
    list-style: none;
}

ul{
    padding: 0;
    margin: 0;
}

footer{
    height: $footer_height;
    width: 100%;
    margin-top: -$footer_height;
    position: relative;
    min-width: $container_width+20;
}

h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    font-weight: normal;
}
