@font-face {
    font-family: 'open_sans_condensedbold';
    src: url('/assets/fonts/opensans-condbold-webfont.woff') format('woff'),
         url('/assets/fonts/opensans-condbold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanscondensed_light';
    src: url('/assets/fonts/opensans-condlight-webfont.woff') format('woff'),
         url('/assets/fonts/opensans-condlight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans-condlightitalic';
    src: url('/assets/fonts/opensans-condlightitalic-webfont.woff') format('woff'),
         url('/assets/fonts/opensans-condlightitalic-webfont.svg#open_sansCnLtIt') format('svg');
    font-weight: normal;
    font-style: normal;
}
