@function rem($px){
    @return $px / 16px + 0rem;
}

@mixin box-shadow($params){
    box-shadow: $params;
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
}

%clearfix{
    &:after{
        content: "";
        display: block;
        clear: both;
    }
}

@mixin OpenSans($style: regular){

    @if $style == regular{
        font-family: 'OpenSans Regular';
    }
    @if $style == bold{
        font-family: 'OpenSans Bold';
    }
    @if $style == italic{
        font-family: 'OpenSans Italic';
    }
    @if $style == boldItalic{
        font-family: 'OpenSans BoldItalic';
    }
    @if $style == light{
        font-family: 'OpenSans Light';
    }
    @if $style == semibold{
        font-family: 'OpenSans SemiBold';
    }
}
@mixin PTSerif($style: regular){
    @if $style == regular{
        font-family: 'PTSerif Regular';
    }
    @if $style == bold{
        font-family: 'PTSerif Bold';
    }
    @if $style == italic{
        font-family: 'PTSerif Italic';
    }
     @if $style == boldItalic{
        font-family: 'PTSerif BoldItalic';
    }
}
