@function rem($px){
    @return $px / 16px + 0rem;
}

@mixin box-shadow($params){
    box-shadow: $params;
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
}

%clearfix{
    &:after{
        content: "";
        display: block;
        clear: both;
    }
}

@mixin PTSerif($style: regular){
    @if $style == regular{
        font-family: 'PTSerif Regular';
    }
    @if $style == bold{
        font-family: 'PTSerif Bold';
    }
    @if $style == italic{
        font-family: 'PTSerif Italic';
    }
     @if $style == boldItalic{
        font-family: 'PTSerif BoldItalic';
    }
}
@mixin Roboto($style: regular){
    @if $style == regular{
        font-family: 'roboto_condensedregular';
    }
    @if $style == bold{
        font-family: 'roboto_condensedbold';
    }
    @if $style == italic{
        font-family: 'roboto_condenseditalic';
    }
     @if $style == boldItalic{
        font-family: 'roboto_condensedbold_italic';
    }
    @if $style == lightItalic{
        font-family: 'roboto_condensedlight_italic';
    }
    @if $style == light{
        font-family: 'roboto_condensedlight';
    }
}
